{% extends "layout.html" %}

{% block main %}
    <!DOCTYPE html>
    <html>
        <body>
            <div class="d-flex justify-content-center">  
                <div class="col-10 col-md-6 col-xl-4">
                    <form method='POST'>  
                        <h1 class="mt-4 text-start title text-white">Change Password</h1>                  
                        <div class="border mt-4 border-white border-5 bg-dark bg-opacity-75">
                            <div class="info m-4">
                                <div>
                                    <input class="text-input"placeholder="Password" id="password" name="password" type="password">
                                </div>
                            </div>
                            <div class="info m-4">
                                <div>
                                    <input class="text-input" placeholder="New Password" id="new_password" name="new_password" type="password">
                                </div>
                            </div>
                            <div class="info m-4">
                                <div>   
                                    <input id="confirmation" class="text-input" placeholder="Confirmation" name="confirmation" type="password">
                                </div>
                            </div>
                            <div class="error mb-4">
                                {% if error %}
                                <div> 
                                    {{ error }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <button class="btn mt-4 btn-dark"> Change password</button>
                        </div>
                    </form>
                </div>
            </div>
        </body> 
    </html>

{% endblock %}